<!doctype html>
    {% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Laurence Olivier| Cabinet Psychothérapie</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{% static 'images/fav.jpg' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawsom-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'animate.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/testimonial/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/testimonial/css/owl.theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<body>

       <!-- ################# Header Starts Here#######################--->

    <header id="menu-jk">
        <nav  class="">
            <div class="container">
                <div class="row nav-ro">
                   <div class="col-lg-3 col-md-4 col-sm-12">
                       <img src="/static/images/logoL.JPG" alt="">
                       <a data-toggle="collapse" data-target="#menu" href="#menu"><i class="fas d-block d-md-none small-menu fa-bars"></i></a>
                   </div>
                   <div id="menu" class="col-lg-7 col-md-8 d-none d-md-block no-padding">
                       <ul>
                            <li><a href="{% url 'home:accueil' %}">Accueil</a></li>
                            <li><a href="{% url 'home:galerie' %}">Gallerie</a></li>
                           <li><a href="{% url 'blog:indexblog' %}">Blog</a></li>
                            <li><a href="{% url 'home:contact' %}">Contact</a></li>
                        </ul>
                   </div>
                   <div class="col-sm-2 d-none d-lg-block">
                       <a href="{% url 'home:reservation' %}"><button class="btn btn-success">Rerserver une séance</button></a>
                   </div>
                </div>
            </div>
        </nav>
    </header>
       <br>
     <!--  ************************* Page Title Starts Here ************************** -->
               <div class="page-nav no-margin row">
                   <div class="container" back>
                       <div class="row">
                       </div>
                   </div>
               </div>
       
         <!-- ######## Page  Title End ####### -->
         
         <!--  ************************* Gallery Starts Here ************************** -->
        <div class="gallery">    
           <div class="container">
              <div class="row">
                

        <div class="gallery-filter d-none d-sm-block">
            <button class="btn btn-default filter-button" data-filter="all">Santé</button>
            <button class="btn btn-default filter-button" data-filter="hdpe">Bien-être</button>
            <button class="btn btn-default filter-button" data-filter="sprinkle">Confiance en soi</button>
            <button class="btn btn-default filter-button" data-filter="spray">Joie</button>
            <button class="btn btn-default filter-button" data-filter="irrigation">Bonheur</button>
        </div>
        <br/>

                </div>
            </div>
       </div>
        <!-- ######## Gallery End ####### -->
       <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <p>Deux adresses pour vos rendez-vous de psychothérapie</p><br>
      <img src="/static/images/adresse.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/images/cabinet1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/images/cabinet2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/images/cabinet3.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/images/Badaroux1.JPEG" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/images/villeneuve5.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
   	

   	<br>
<div class="copy">
    <div class="container">
        <div class="copyright">
            <p>2022 &copy; M2G | Tous droits réservés</p>
        </div>
    </div>
</div>





</body>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/scroll-fixed/jquery-scrolltofixed-min.js' %}"></script>
<script src="{% static 'plugins/slider/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

</html>
